# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/pproject.iml
.idea/vcs.xml
.idea/workspace.xml
__pycache__/
crawl/cyb03l.csv
crawl/cyb06.csv
crawl/ghostdriver.log
crawl/rw.csv
crawl/sj12.csv
crawl/sj15.csv
crawl/sj6.csv
"crawl/\347\272\242\346\235\2110.csv"
todo.txt
tusharedemo/__pycache__/
webapp/__pycache__/
webapp/req.log
